{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <p class="h3">Employee structure</p>
        <span class="text-muted">Общее кол-во сотрудников: {{ employees_count }}</span>
        <div class="mt-5">
            {% for sub in subdivisions %}
                {{ sub }}
                <div class="mt-5">
                    {% include 'includes/inc__coworkers.html' with employees=sub.get_object_list.all %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}