{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <p class="h3">Employee structure</p>
        <span class="text-muted">Общее кол-во сотрудников: {{ employees_count }}</span>

        {% for sub in init_data %}
            <div class="accordion">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ sub.name }}{{ forloop.counter }}" aria-expanded="false">
                    <span class="text-muted">Подразделение:&nbsp;</span> <b>{{ sub.name }}</b>&emsp;
                </button>
                <div class="mx-5">
                    <div id="{{ sub.name }}{{ forloop.counter }}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            {% include 'includes/inc__coworkers.html' with init_data=sub.get_object_list %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}